@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Bangers&family=DynaPuff&family=Exo&family=Fugaz+One&family=Mansalva&family=Montserrat+Alternates&family=Montserrat:wght@400;700&family=Rampart+One&family=Sriracha&display=swap');
/* nav */
.navigation {
    background-color: #e879f9bb;
    color: black;
    padding: 1rem 2rem;
    border-bottom-left-radius: 3rem;
}

.navigation .nav {
    font-weight: bolder;
    font-size: 1rem;
    text-align: left;
}
nav:hover {
    background-color:
    #e879f9
}

.navigation .inline-list {
    text-align: right;
}

.navigation .list-item-inline {
    list-style: none;
    display: inline;
    padding: 0rem 0.4rem;
}

.navigation .link {
    color: black;
    text-decoration: none;
}

.navigation .link-active {
    font-weight: bold;
}
/* user agent stylesheet */
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
body {
    display: block;
    margin: 0px;
    font-family: 'DynaPuff', cursive;
}